* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: black;
  text-align: center;
  color: white;
}

body::after {
  content: '';
  background: url(../img/DSC_0364.JPG) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
