.about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary_color;

  &__container {
    width: 60%;

    p {
      margin-top: 1.5rem;
    }
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__links {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      text-transform: uppercase;
      font-size: 0.85rem;
      display: inline-block;
      text-decoration: none;
      color: $secondary_color;
      border: $main_color 2px solid;
      width: 9rem;
      padding: 0.8rem;
      margin: 2rem 0rem;
      &:hover {
        background-color: #f7b8445c;
        border: none;
      }
    }
  }
}
