.fixed {
  width: 100%;
  position: fixed;
  padding: 2rem 3rem;
  // box-shadow: rgb(14, 13, 13) 0px 3px 15px;
  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   307deg,
  //   rgba(0, 0, 0, 0.7) 0%,
  //   rgba(0, 0, 0, 0.7) 0%,
  //   rgba(46, 43, 47, 0.7) 28%,
  //   rgba(73, 72, 69, 0.7) 64%,
  //   rgba(3, 1, 4, 0.7) 100%
  // );
  z-index: 1000;
  // animation: nav-load 500ms ease-in;
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      animation: logo 1000ms ease-in 100ms;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    &__nav {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        height: 1.5rem;
        padding: 0 0.5rem;
        border-left: $main_color 3px solid;
      }
      a:first-child {
        animation: moveInLeft 500ms ease-in 1100ms;
        animation-fill-mode: forwards;
        opacity: 0;
      }
      a:nth-child(2) {
        animation: moveInLeft 500ms ease-in 1300ms;
        animation-fill-mode: forwards;
        opacity: 0;
      }
      a:nth-child(3) {
        animation: moveInLeft 500ms ease-in 1500ms;
        animation-fill-mode: forwards;
        opacity: 0;
      }
      a:nth-child(4) {
        animation: moveInLeft 500ms ease-in 1700ms;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
  }
  @media (max-width: 1100px) {
    &__top {
      &__nav {
        width: 60%;
      }
    }
  }
  @media (max-width: 650px) {
    &__top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__nav {
        width: 100%;
        margin: 2rem auto 0;
      }
    }
  }
  @media (max-width: 650px) {
    padding: 2rem;
    &__border {
      padding: 1rem;
    }
  }
}

.yellow {
  color: $main_color;
}

// Keyframes
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
