.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40%;
  padding-top: 25%;
  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 0 auto 1.5rem;
      width: fit-content;
      font-size: 7rem;
      color: $main_color;
      letter-spacing: 20px;
      overflow: auto;
      line-height: 7rem;
      border-bottom: rgba(255, 255, 255, 0.404) 5px solid;
    }
  }
}
