.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40%;
  padding-top: 25%;
  &::after {
    content: '';
    background: url(../img/DSC_0364.JPG) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 0 auto 1.5rem;
      width: fit-content;
      font-size: 7rem;
      color: $main_color;
      letter-spacing: 20px;
      overflow: auto;
      line-height: 7rem;
      border-bottom: rgba(255, 255, 255, 0.404) 5px solid;
    }
  }
}
