.skills {
  width: $main_width;
  margin: 0 auto;
  padding: 5rem 0;

  &__container {
    position: relative;
    min-height: 500px;
  }
  &__skill {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: white;
    line-height: 5rem;
    opacity: 0.6;
    background-color: rgba(131, 131, 131, 0.349);
    position: absolute;
    &:first-child {
      top: 10%;
      left: 10%;
    }
    &:nth-child(2) {
      top: 10%;
      right: 10%;
    }
    &:nth-child(3) {
      top: 35%;
      left: 5%;
    }
    &:nth-child(4) {
      top: 44%;
      right: 5%;
    }
    &:nth-child(5) {
      top: 75%;
      left: 25%;
    }
    &:nth-child(6) {
      top: 50%;
      right: 25%;
    }
    &:nth-child(7) {
      top: 39%;
      left: 19%;
    }
    &:nth-child(8) {
      top: 26%;
      right: 21%;
    }
    &:nth-child(9) {
      top: 65%;
      left: 8%;
    }
    &:nth-child(10) {
      top: 72%;
      right: 14%;
    }
    &:nth-child(11) {
      top: 25%;
      left: 33%;
    }
    &:nth-child(12) {
      top: 20%;
      right: 36%;
    }
    &:nth-child(13) {
      top: 70%;
      left: 40%;
    }
    &:nth-child(14) {
      top: 76%;
      right: 36%;
    }
    &:nth-child(15) {
      top: 47%;
      right: calc(50% - 2.5rem);
    }
  }
  .bigger {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
  }
  .middle {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
  }
  .advanced {
    color: white;
    background-color: #f7b844ec;
  }
  .less_advanced {
    color: white;
    background-color: #f7b84453;
  }
  &__future {
    position: absolute;
    color: rgba(128, 128, 128, 0.455);
  }
}
